.suggestions {
  list-style-type: none;
  border-bottom: 1px solid brown;
  border-left: 1px solid brown;
  border-right: 1px solid brown;
  margin: -4px 0 0 0;
  padding: 0px;
  background-color: antiquewhite;
}
.suggestions li {
  padding: 5px 0px 5px 5px;
  text-align: left;
  font-size: 24px;
  cursor: pointer;
}
.suggestions li:hover {
  background-color: brown;
}
.autocomplete {
  border: 2px solid brown;
  border-radius: 5px;
  padding: 12px;
  font-size: 24px;
}
