.counter-container {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
}
.counter {
  color: red;
}

button {
  width: 40px;
  height: 40px;
  color: white;
  background-color: brown;
  border-radius: 9px;
  border: 2px solid brown;
  font-size: 26px;
  font-weight: bold;
  cursor: pointer;
}

button:hover {
  background-color: red;
  border: 2px solid red;
}
